<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Plus récents</a>
    {{/if}}
    <span class="page-number">Page {{page}} sur {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Plus anciens &rarr;</a>
    {{/if}}
</nav>
