<div class="box sidebox about">
  <div class="sidebox-title">A propos</div>
  <div class="sidebox-content">
      <p>{{@blog.description}}</p>
    <h6>Les auteurs</h6>
      {{#get "users"  order="name asc"}}
          <ul class="authors-thumbnails clearfix">
            {{#foreach users}}
                <li>
                    <figure class="author-image">
                        <a href="/author/{{slug}}">
                          <span class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></span>
                        </a>
                    </figure>
                </li>
            {{/foreach}}
          </ul>
      {{/get}}
  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
    <a href="http://twitter.com/wemucs" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    <a href="http://github.com/wemucs" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
  </ul>
</div>

<div class="sidebox box latest-articles">
    <div class="sidebox-title">Nos meilleures sections</div>
    <div class="sidebox-content">
          <a href="/">Derniers articles</a>
          <a href="/tag/getting-started">Getting started</a>
    </div>
</div>

